### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csvpath)

# Show headers
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [22]:
player_count = len(purchase_data_df["SN"].unique())
print(player_count)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
unique_items = len(purchase_data_df["Item Name"].unique())
avg_price = purchase_data_df["Price"].mean()
num_of_purchases = len(purchase_data_df["Purchase ID"].unique())
total_revenue = round(purchase_data_df["Price"].sum(),)

purchasing_analysis_df = pd.DataFrame({"Unique Items": unique_items,
                                     "Average Price": avg_price,
                                      "Number of Purchases": num_of_purchases,
                                      "Total Revenue": [total_revenue]})

print(purchasing_analysis_df)

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780         2380.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [153]:
purchase_data_clean_df = purchase_data_df.drop_duplicates(["SN"])
gender_count = purchase_data_clean_df["Gender"].value_counts()
gender_pct = gender_count / player_count

gender_demo_df = pd.DataFrame({"Number of Players by Gender": gender_count,
                              "Percent of Total Players": gender_pct * 100})

gender_demo_df

                       Number of Players by Gender  Percent of Total Players
Male                                           484                 84.027778
Female                                          81                 14.062500
Other / Non-Disclosed                           11                  1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [155]:
# how to count sn with groupby 

grouped_gender_gb = purchase_data_clean_df.groupby(['Gender'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_gender_gb)

# In order to be visualized, a data function must be used...
purchase_gender = grouped_gender_gb["Purchase ID"].count()
avgprice_gender = grouped_gender_gb["Price"].mean()
totalpurchase_gender = grouped_gender_gb["Price"].sum()
avgpurchase_gender = totalpurchase_gender / gender_count

grouped_gender_df = pd.DataFrame({"Purchase Count": purchase_gender,
                    "Average Purchase Price": avgprice_gender,
                    "Total Purchase Value": totalpurchase_gender,
                    "Avg Total Purchase per Person": avgpurchase_gender})

grouped_gender_df.head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E389D18B38>

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,3.165802,256.43,3.165802
Male,484,3.046901,1474.70,3.046901
Other / Non-Disclosed,11,3.410909,37.52,3.410909

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:
print(purchase_data_clean_df["Age"].min())
print(purchase_data_clean_df["Age"].max())

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data_clean_df["Age"], age_bins, labels=age_labels).head()

purchase_data_clean_df["Age Group"] = pd.cut(purchase_data_clean_df["Age"], age_bins, labels=age_labels)
purchase_data_clean_df.head()

age_group_gb = purchase_data_clean_df.groupby("Age Group")

# Find how many rows fall into each bin
numberby_age = age_group_gb["SN"].count()
percentby_age = numberby_age / player_count

age_demo_df = pd.DataFrame({"Total Count": numberby_age,
                           "Percentage of Players": percentby_age * 100})

age_demo_df

7
45

C:\Users\katie\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [79]:
purchase_age = age_group_gb["Purchase ID"].count()
avgprice_age = age_group_gb["Price"].mean()
totalpurchase_age = age_group_gb["Price"].sum()
avgpurchase_age = totalpurchase_age / numberby_age

analysis_age_df = pd.DataFrame({"Purchase Count": purchase_age,
                               "Average Purchase Price": avgprice_age,
                               "Total Purchase Value": totalpurchase_age,
                               "Avg Total Purchase per Person": avgpurchase_age})

analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,17,3.390000,57.63,3.390000
10-14,22,3.074545,67.64,3.074545
15-19,107,3.101682,331.88,3.101682
20-24,258,3.063527,790.39,3.063527
25-29,77,2.908182,223.93,2.908182
30-34,52,2.921538,151.92,2.921538
35-39,31,3.510000,108.81,3.510000
40+,12,3.037500,36.45,3.037500

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [158]:
sn_gb = purchase_data_clean_df.groupby("SN")
sn_gb.head()

purchase_sn = sn_gb["Purchase ID"].count()
avgprice_sn = sn_gb["Price"].mean()
total_sn = sn_gb["Price"].sum()

snanalysis_df = pd.DataFrame({"Purchase Count": purchase_sn,
                             "Average Purchase Price": avgprice_sn,
                             "Total Purchase Value": total_sn})

snanalysis_sorted_df = snanalysis_df.sort_values("Purchase Count", ascending=False)
snanalysis_sorted_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Marim28                    1                    3.33                  3.33
Marirrasta50               1                    4.66                  4.66
Marjask87                  1                    1.44                  1.44

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [150]:
items_df = purchase_data_clean_df[["Item ID", "Item Name", "Price"]]
most_popular_gb = items_df.groupby(['Item ID', 'Item Name'])
most_popular_gb.head()

purchasecount_items = most_popular_gb["Item ID"].count()
purchasecount_price = most_popular_gb["Price"].unique()
purchasecount_tpv = purchasecount_items * purchasecount_price


mostpop_df = pd.DataFrame({"Purchase Count": purchasecount_items, 
                           "Price": purchasecount_price,
                          "Total Purchase Value": purchasecount_tpv})

mostpopsort_df = mostpop_df.sort_values("Price",ascending=False)

mostpopsort_df.head()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [152]:
mostpopsort2_df = mostpopsort_df.sort_values("Total Purchase Value", ascending=False)
mostpopsort2_df.head()

KeyError: 'Total Purchase Value'